.home {
    height:100%;
    width:100%;
    
}

.landing-container {
    position: relative;
    padding:100px;
    margin-top:50px;
    text-align: justify;
}

.underline{
    height:28px;
    width:74%;
    background-color: rgba(3, 105, 3, 0.4);
    position: relative;
    align-items: center;
    margin-top:-65px;
    z-index:0;
}







