/* src/App.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgb(3, 3, 3);
    color: #fff;
    padding:20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size:23px;
    font-weight:bold;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: right;
    padding-right:80px;
    margin-right:100px;
    
}



nav ul li  {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer; /*This makes the cursor a handlike feautre when it hovers over the title*/
    margin-left:20px;
}

main {
    position: relative;
    margin-top: 0px; /* Adjust this value based on your header height */
}

section {
    padding: 2rem;
    min-height: 100vh;
}

#home {
    background-color: #f4f4f4;
    padding: 100px;
    
   
}

.name {
    font-size:32px;
    font-weight:bold;
}

.description {
    font-size:21px;
    text-align: left;
}

#about {
    background-color: #e2e2e2;
}

#research {
    background-color: #cccccc;

}

#contact {
    background-color: #e2e2e2;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(2, 2, 2);
    color: #fff;
}
